html,
body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family:"微軟正黑體";
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
}

h2 {

}

h3 {

}

.resume {
    width: 960px;
    background-color: rgb(101, 142, 224);
    color: #ffffff;
    margin: 20px auto;
    box-shadow: 10px 10px black;
    position: relative;
    display: flex;
}

.resume .base {
    width: 30%;
    padding: 30px 15px;
    background-color: aqua;
}

.resume .base .profile {
    background-color: orange;
    padding: 30px 15px 40px 15px;
    margin: -30px -15px 45px -15px;
    position: relative;
    z-index: 2;
}
.resume .base .profile::after {
    content: "";
    position: absolute;
    background: rgb(121, 46, 46);
    width: 100%;
    height: 30px;
    bottom: -15px;
    left: 0;
    transform: skewY(-5deg);
    z-index: -1;
}

.resume .base .profile .photo img {
    width: 100%;
    border-radius: 50%;
}

.resume .base .profile .photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume .base .profile .info {
    text-align: center;
    color: white;
}

.resume .base .profile .info .name {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 1.75em;
    color: white;
}

.resume .base .profile .info .job {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 1.5em;
    color: white;
}

.resume .base .personality {
    line-height: 24px;
    text-align: center;
    color: white;
    margin: 20px;
    background-color: blue;
}

.resume .base .personality span{
    position: relative;
}

.resume .base .interest {
    line-height: 24px;   
    text-align: center;
    color: white;
    margin: 20px;
    background-color: blue;
}

.resume .base .interest i {
    color: #ffb300;
    width: 20px;
    height: 20px;
    font-size: 20px;
    text-align: center;
    margin-right: 15px;
}

.resume .base .interest span{
    position: relative;
}

.resume .base .contact {
    line-height: 24px;
    text-align: center;
    color: white;
    margin: 20px ;
    background-color: blue;
}

.resume .base .contact i {
    color: #ffb300;
    width: 20px;
    height: 20px;
    font-size: 20px;
    text-align: center;
    margin-right: 15px;
    padding-bottom: 5px;
}

.resume .func {
    width: 100%;
    padding: 50px;
}

.resume .func .about{
    background-color: blue;
}

.resume .func .cert{
    background-color: blue;
}

.resume .func .skill,
.resume .func .edu {
    float: left;
}

.resume .func .skill{
    width: 46%;
    background-color: blue;
    padding: 10px;
}

.resume .func .edu{
    width: 46%;
    background-color: blue;
    padding: 10px;
}

.resume .func .skill ul li,
.resume .func .edu ul li {
    position: relative;
    display: flex;
    margin-left: 50px;
    padding-left: 25px;
    padding-bottom: 15px;
    margin-bottom: 8px;
}

.resume .func .skill ul {
    margin-left: 15px;
}

.resume .func .edu ul {
    margin-left: 15px;
}